<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ScheduleTesting.Properties.Settings.uam_agendaConnectionString"
        connectionString="Data Source=EDUARDO;Initial Catalog=uam_agendaNEW;User ID=sai;Password=&quot;6bRYtEFHF9Y7Y/TMRTjxLQBb/Bs=&quot;"
        providerName="System.Data.SqlClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
