<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ScheduleTesting.Properties.Settings.uam_agendaConnectionString" connectionString="Data Source=CLASSDATA;Initial Catalog=uam_agenda;User ID=siga;Password=&quot;siga2siga&quot;" providerName="System.Data.SqlClient"/>


  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
